.whyAmalfi_bg {
  background-image: url(./image/png/whyamalfibg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.a_demand_bg {
  background-image: url(./image/png/demandbg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.a_jet_card_bg {
  background-image: url(./image/png/privatejetcard.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.a_bg_jet {
  background-image: url(./image/png/jetsmall.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* ----------slider css--------------- */
.a_bg_slider_image_1 {
  background-image: url(./image/png/jetsliderimge1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 245px;
}

.a_bg_slider_image_2 {
  background-image: url(./image/png/jetsliderimage2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 245px;
}

.a_bg_slider_image_3 {
  background-image: url(./image/png/jetsliderimage3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 245px;
}

.a_bg_slider_image_4 {
  background-image: url(./image/png/jetsliderimage4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 245px;
}

.a_bg_slider_image_5 {
  background-image: url(./image/png/jetsliderimage5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 245px;
}

.a_bg_slider_image_6 {
  background-image: url(./image/png/jetsliderimage6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 245px;
}

.a_bg_slider_image_7 {
  background-image: url(./image/png/jetsliderimage7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 245px;
}

.a_bg_slider_image_8 {
  background-image: url(./image/png/jetsliderimage8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 245px;
}

.a_bg_slider_image_9 {
  background-image: url(./image/png/jetsliderimage9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 245px;
}

.swiper {
  width: 100%;
  margin: auto;
  min-height: 390px;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--white) !important;
  border-radius: 50px;
  width: 48px !important;
  height: 40px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}

.swiper-pagination-bullet {
  background: black !important;
  /* Dots color */
  opacity: 0.6;
}

.swiper-pagination-bullet {
  background-color: var(--black) !important;
}

.swiper-pagination-bullet-active {
  background: var(--black) !important;
}

.swiper-button-next,
.swiper-button-prev {
  top: var(--swiper-navigation-top-offset, 93%) !important;
  z-index: 20 !important;
}

.bottom_0 {
  bottom: 0;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 20px) !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10%) !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10%) !important;
}

/* ----------------slider css end here---------------------------- */
.a_whyAmalfi_bg_operation {
  background-image: url(./image/png/bg_airoplane.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

.a_whyAmalfi_bg_saftey {
  background-image: url(./image/png/safety_bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.a_rotate_90 {
  transform: rotate(90deg);
}

.a_backdrop_filter {
  -webkit-backdrop-filter: saturate(133%) brightness(40%) blur(20px) !important;
  backdrop-filter: saturate(133%) brightness(40%) blur(20px) !important;
}

.gap_px_1 {
  gap: 1px;
}

.a_max_w_640 {
  max-width: 640px;
}

.a_max_w_886 {
  max-width: 886px;
}

.a_max_w_735 {
  max-width: 735px;
}

.a_max_with_461 {
  max-width: 461px;
}

.a_max_w_820 {
  max-width: 820px;
}

.bg-scrim.gradient-bottom-up {
  background-color: #0003;
  background-image: linear-gradient(#0000, #000000c2 75%, #000);
}

.bg-scrim {
  z-index: 1;
  background-color: #00000080;
  position: absolute;
  inset: 0%;
}

.bg-scrim.gradient-bottom-up._1x1 {
  background-image: linear-gradient(#0000 25%, #000 79%);
}

.bg-scrim.gradient-bottom-up.faded {
  mix-blend-mode: normal;
  background-image: linear-gradient(#0000, #000000bf);
}

.bg-scrim.gradient-ltr.for-75 {
  background-image: linear-gradient(90deg, #000 25%, #0000);
}

.bg-scrim.gradient-ltr {
  background-image: linear-gradient(90deg, #000, #0000);
}

.z_2 {
  z-index: 2;
}

.a_easy_Booking_bg_1 {
  background-image: url(./image/png//easyBookingimage1.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 927px;
  width: 100%;
}

.a_easy_Booking_bg_2 {
  background-image: url(./image/png/easyBookingimage2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 927px;
  width: 100%;
}

.a_easy_Booking_bg_3 {
  background-image: url(./image/png//easyBookinimage\ 3.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 927px;
  width: 100%;
}

.a_bg_operation {
  background-image: url(./image/png/easyBookingimage2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 611px;
  width: 100%;
}

.a_bg_safety {
  background-image: url(./image/png/safety.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 611px;
  width: 100%;
}

.a_bg_escapades {
  background-image: url(./image/png/escapdes.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 611px;
  width: 100%;
}

.a_accordian_div {
  border: 1px solid #88888d;
  border-radius: 5px;
}

.a_test_gray {
  color: var(--black);
  opacity: 0.6;
}

.mt_n_1 {
  margin-top: -4px;
}

.a_answer {
  max-height: 0;
  margin-top: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease-in-out, margin-top 0.4s ease-in-out,
    opacity 0.2s ease-in-out;
}

.a_accordian_div.a_active .a_answer {
  max-height: 500px;
  margin-top: 16px;
  opacity: 1;
}

.a_question {
  cursor: pointer;
}

.a_arrow {
  transition: transform 0.4s ease-in-out;
}

.a_accordian_div.a_active .a_arrow {
  transform: rotate(180deg);
}

.a_hr_line_div {
  background-color: #c6c6c7;
  height: 1px;
  margin-top: 2.618em;
  margin-bottom: 2.618em;
}

.a_next_flight_bg {
  background-image: url(./image/png/nextflightbg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.a_radius_10 {
  border-radius: 10px;
}

.a_max_w_550 {
  max-width: 550px;
}

.a_line_height_25 {
  line-height: 25px;
}

.a_z_n_1 {
  z-index: -1;
}

.a_right_0 {
  right: 0;
}

.a_overflow_hidden {
  overflow: hidden;
}

.a_max_with_545 {
  max-width: 545px;
}

.a_narror_container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.a_outline_none {
  outline: none;
}

.a_hover_bg_gray {
  transition: all 400ms;
}

.a_hover_bg_gray:hover {
  background-color: #3333334e;
}

.a_bg_transparent {
  background: transparent;
}

.a_placeholder::placeholder {
  color: var(--black);
  background-color: var(--white);
}

.a_max_h_700 {
  max-height: 700px;
}

.a_fw_700 {
  font-weight: 700;
}

.a_form_top_bar_main {
  border: 1px solid var(--black);
  border-radius: 0.786164em;
}

.a_search_btn {
  background-color: var(--black);
  padding: 16px 20px;
  border-radius: 10px;
}

.a_line_h_24 {
  line-height: 24px;
}

.a_letter_spacing_2 {
  letter-spacing: 2px;
}

.a_max_w_1200 {
  max-width: 1200px;
}

.a_line_height_28 {
  line-height: 28px;
}

.a_card_hover {
  transition: all 400ms;
  cursor: pointer;
}

.a_card_hover:hover {
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.a_min_h_202 {
  min-height: 202px;
}

.a_align_item_start {
  align-items: flex-start;
}

.a_card_form {
  max-width: 820px;
  background-color: var(--white);
  border-radius: 1.61792em;
  padding: 1.61792em 2.058em 2.058em;
  color: #1f1b16;
}

.a_fs_10 {
  font-size: 10px;
}

.a_text_gray {
  color: #555;
}

.a_fs_8 {
  font-size: 8px;
}

.a_line_h_10 {
  line-height: 10px;
}

.a_letter_spacing_1 {
  letter-spacing: 0.96px;
}

.a_input_h_w_28 {
  width: 28px;
  height: 28px;
}

.px_0 {
  padding-left: 0px;
  padding-right: 0px;
}

.a_w_300 {
  max-width: 300px;
}

.a_align_end {
  align-items: end;
}

.a_border_p {
  border-bottom: 1px solid white;
}

.a_bg_circle_black {
  height: 33px;
  width: 33px;
  background: var(--black);
  border-radius: 50%;
}

.a_bg_light_blue {
  background: var(--white);
  color: var(--black);
}

.a_max_w_140 {
  max-width: 140px;
}

.a_h_50 {
  height: 50px;
}

/* rk css start here  */
.pb_hero_section {
  padding-bottom: 53px;
}

.flight_quote_border {
  border: 1px solid var();
}

.py_every_section {
  padding-block: 25px;
}

.custom_container_r {
  width: calc(100vw - 50px);
  margin: 0 auto;
}

.a_border_r_b {
  border-bottom: 1px dashed #c6c6c7;
  border-right: 1px dashed #c6c6c7;
}

.a_border_b_dashed {
  border-bottom: 1px dashed #c6c6c7;
}

.a_border_e_dashed {
  border-right: 1px dashed #c6c6c7;
}

.pb_0 {
  padding-bottom: 0px !important;
}

.a_target_blank {
  height: 100% !important;
}

.a_line_h_40 {
  line-height: 40px;
}

.gradient-scrim {
  z-index: 1;
  background-image: linear-gradient(#0000 75%, #fff);
  display: block;
  inset: 0%;
  position: absolute;
}

/* rk css root  */
:root {
  --fs_xsm: 12px;
  --fs_sm: 13px;
  --fs_base: 14px;
  --fs_md: 15px;
  --fs_lg: 16px;
  --fs_xls: 20px;
  --fs_xl: 33px;
  --fs_xll: 24px;
  --fs_xxl: 42px;

  --fs_2xl: 68px;
  --fs_3xl: 64px;
}

/* -------------------responsive------------------ */
@media (max-width: 576px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 12px;
    --fs_md: 15px;
    --fs_lg: 14.16px;
    --fs_xls: 18px;
    --fs_xll: 20px;
    --fs_xl: 27px;
    --fs_xxl: 42px;
    --fs_2xl: 41px !important;
    --fs_3xl: 32px;
    --fs_4xl: 32px !important;
  }

  .a_easy_Booking_bg_1 {
    height: 600px;
  }

  .a_easy_Booking_bg_2 {
    height: 600px;
  }

  .a_easy_Booking_bg_3 {
    height: 600px;
  }

  .a_bg_operation {
    height: 400px;
  }

  .a_bg_safety {
    height: 400px;
  }

  .a_bg_escapades {
    height: 400px;
  }

  .a_form_top_bar_main {
    flex-direction: column;
  }

  .a_xs_border_b {
    border-bottom: 1px solid #0003;
  }

  .xs_justify_content_center {
    justify-content: center;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 10%) !important;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 10%) !important;
  }

  .a_position_mobile {
    top: 70%;
  }

  /* rk css here  */
  .mb_xsm_40prcnt {
    margin-bottom: 75%;
  }

  .px_xsm_0 {
    padding-inline: 0;
  }

  .w_text_50 {
    width: 60%;
  }

  .mb_xsm_24 {
    margin-bottom: 24px;
  }

  .mt_maintain {
    margin-top: 1.618em;
  }

  .d_xsm_flex {
    display: flex;
  }
}

@media (min-width: 576px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 12px;
    --fs_md: 15px;
    --fs_lg: 15px;
    --fs_xls: 18px;
    --fs_xll: 20px;
    --fs_xl: 33px;
    --fs_xxl: 42px;
    --fs_2xl: 53px;
    --fs_3xl: 32px;
    --fs_4xl: 42px !important;
  }

  .a_position_mobile {
    top: 65%;
  }

  .a_sm_max_w_170 {
    max-width: 170px;
  }

  .a_easy_Booking_bg_1 {
    height: 700px;
  }

  .a_easy_Booking_bg_2 {
    height: 700px;
  }

  .a_easy_Booking_bg_3 {
    height: 700px;
  }

  .a_bg_operation {
    height: 500px;
  }

  .a_bg_safety {
    height: 500px;
  }

  .a_bg_escapades {
    height: 500px;
  }

  .a_sm_min_h_475 {
    min-height: 475px;
  }

  .sm_py_5 {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .sm_d_block {
    display: block;
  }

  .sm_col_6 {
    width: 50% !important;
    padding-left: 12px;
    padding-right: 12px;
  }

  .sm_col_8 {
    width: 66.66%;
  }

  .sm_mt_0 {
    margin-top: 0;
  }

  .sm_ps_5 {
    padding-left: 48px;
  }

  .sm_w_fit_content {
    width: fit-content;
  }

  .sm_justify_content_end {
    justify-content: end !important;
  }

  .sm_p_4 {
    padding: 24px;
  }

  .sm_text_start {
    text-align: start !important;
  }

  .sm_pt_0 {
    padding-top: 0 !important;
  }

  .sm_col_4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 25%) !important;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 25%) !important;
  }

  /* rk css start here  */
  .pb_hero_section {
    padding-bottom: 32px;
  }

  .py_every_section {
    padding-block: 53px;
  }

  .text_sm_start {
    text-align: start;
  }

  .my_sm_4 {
    margin-block: 24px;
  }

  .py_sm_0 {
    padding-block: 0;
  }

  .px_sm_12 {
    padding-inline: 12px;
  }

  .w_sm_50 {
    width: 50%;
  }

  .mb_sm_4 {
    margin-bottom: 24px;
  }

  .pb_sm_1 {
    padding-bottom: 4px;
  }

  .custom_container_r {
    width: calc(100vw - 66px);
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 12px;
    --fs_md: 15px;
    --fs_lg: 15px;
    --fs_xls: 14px;
    --fs_xll: 24px;
    --fs_xl: 33px;
    --fs_xxl: 42px;
    --fs_2xl: 68px;
    --fs_3xl: 64px;
    --fs_4xl: 68px !important;
  }

  .a_easy_Booking_bg_1 {
    height: 730px;
  }

  .a_easy_Booking_bg_2 {
    height: 730px;
  }

  .a_easy_Booking_bg_3 {
    height: 730px;
  }

  .md_col_4 {
    width: 33.33% !important;
    padding-left: 12px;
    padding-right: 12px;
  }

  .md_mt_0 {
    margin-top: 0;
  }

  .md_col_6 {
    width: 50% !important;
    padding-left: 12px;
    padding-right: 12px;
  }

  .md_ms_0 {
    margin-left: 0;
  }

  .md_ps_0 {
    padding-left: 0px !important;
  }

  .md_col_5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .md_m_0 {
    margin: 0;
  }

  .md_pt_0 {
    padding-top: 0 !important;
  }

  .md_pe_0 {
    padding-right: 0px !important;
  }

  .md_me_0 {
    margin-right: 0px;
  }

  .md_flex_row {
    flex-direction: row;
  }

  .a_bg_operation {
    height: 425px;
  }

  .a_bg_safety {
    height: 425px;
  }

  .a_bg_escapades {
    height: 425px;
  }

  .md_py_5 {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .md_py_3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .md_px_4 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .md_p_3 {
    padding: 16px;
  }

  .md_p_5 {
    padding: 48px !important;
  }

  .md_d_inline {
    display: inline !important;
  }

  .md_border_r_b {
    border-bottom: 1px dashed #c6c6c7;
    border-right: 1px dashed #c6c6c7;
  }

  .md_border_b {
    border-bottom: 1px dashed #c6c6c7;
    border-right: none;
  }

  .md_border_r {
    border-right: 1px dashed #c6c6c7;
    border-bottom: none;
  }

  .md_align_start {
    align-items: flex-start !important;
  }

  .md_text_start {
    text-align: start !important;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 30%) !important;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 30%) !important;
  }

  /* rk css start here  */
  .pb_hero_section {
    padding-bottom: 32px;
  }

  .py_every_section {
    padding-block: 68px;
  }

  .md_mt_0 {
    margin-top: 0 !important;
  }
.md_pt_5{
  padding-top: 48px;
}
  .custom_container_r {
    width: calc(100vw - 66px);
    margin: 0 auto;
  }

  .col_md_6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .w_text_50 {
    width: 60%;
  }

  .mt_md_0 {
    margin-top: 0;
  }

  .d_md_flex {
    display: flex;
  }
}

@media (min-width: 992px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 12px;
    --fs_md: 15px;
    --fs_lg: 15px;
    --fs_xls: 18px;
    --fs_xll: 24px;
    --fs_xl: 33px;
    --fs_xxl: 42px;
    --fs_2xl: 68px;
    --fs_3xl: 64px;
  }

  .lg_align_start {
    align-items: flex-start;
  }

  .a_easy_Booking_bg_1 {
    height: 488px;
  }

  .a_easy_Booking_bg_2 {
    height: 488px;
  }

  .a_easy_Booking_bg_3 {
    height: 488px;
  }

  .a_bg_operation {
    height: 488px;
  }

  .a_bg_safety {
    height: 488px;
  }

  .a_bg_escapades {
    height: 488px;
  }

  .a_lg_absolute {
    position: absolute;
  }

  .lg_w_20 {
    width: 16% !important;
    padding-left: 4px;
    padding-right: 4px;
  }

  .lg_d_block {
    display: block;
  }

  .lg_w_89 {
    width: 100%;
  }

  .lg_justify_between {
    justify-content: space-between;
  }

  .lg_w_11 {
    width: 17%;
  }

  .lg_flex_d_row {
    flex-direction: row;
  }

  .lg_mt_4 {
    padding-top: 24px;
  }

  .lg_mt_0 {
    margin-top: 0px !important;
  }

  .lg_col_3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .lg_col_7 {
    width: 58.33% !important;
    padding-left: 12px;
    padding-right: 12px;
  }

  .lg_p_3 {
    padding: 16px;
  }

  .gradient-scrim {
    display: none;
  }

  .lg_p_5 {
    padding: 48px !important;
  }

  .lg_pb_0 {
    padding-bottom: 0 !important;
  }

  .lg_py_0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .py_lg_13 {
    padding-block: 13px;
  }

  .lg_col_4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .lg_d_none {
    display: none;
  }

  .lg_col_6 {
    width: 50% !important;
    padding-left: 12px;
    padding-right: 12px;
  }

  .lg_pt_0 {
    padding-top: 0px !important;
  }

  .lg_ps_5 {
    padding-left: 48px;
  }

  .a_lg_min_h_450 {
    min-height: 450px;
  }

  .lg_max_w_498 {
    max-width: 498px;
  }

  .lg_d_none {
    display: none;
  }

  .lg_w_content {
    width: fit-content;
  }

  .lg_ms_0 {
    margin-left: 0 !important;
  }

  .lg_ps_0 {
    padding-left: 0 !important;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 37%) !important;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 37%) !important;
  }

  .lg_text_start {
    text-align: start;
  }

  .lg_align_item_start {
    align-items: flex-start;
  }

  .lg_justify_center {
    justify-content: center;
  }

  .lg_justify_start {
    justify-content: flex-start;
  }

  .a_position_mobile {
    top: 19%;
    right: -7%;
  }

  /* rk css start here  */
  .lg_to_xxl_w_150 {
    width: 150px;
  }

  .pb_hero_section {
    padding-bottom: 4.235em;
  }

  .py_every_section {
    padding-block: 73px;
  }

  .pt_lg_5 {
    padding-top: 48px;
  }

  .mt_lg_5 {
    margin-top: 48px;
  }

  .mr_auto {
    margin-left: auto !important;
  }

  .custom_container_r {
    width: calc(100vw - 8.465em);
    margin: 0 auto;
  }

  .col_lg_5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col_lg_6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .lg_px_0 {
    padding-left: 0;
    padding-right: 0;
  }

  .mt_maintain {
    margin-top: 4.235em;
  }

  .w_lg_auto {
    width: 100%;
  }

  .ps_lg_3 {
    padding-left: 16px;
  }

  .lg_px_67 {
    padding-left: 67px;
    padding-right: 67px;
  }

  .col_lg_4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col_lg_8 {
    width: 66.64%;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (min-width: 1200px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 12px;
    --fs_md: 15px;
    --fs_lg: 15px;
    --fs_xls: 18px;
    --fs_xll: 24px;
    --fs_xl: 33px;
    --fs_xxl: 42px;
    --fs_2xl: 68px;
    --fs_3xl: 64px;
  }

  .a_easy_Booking_bg_1 {
    height: 611px;
  }

  .a_easy_Booking_bg_2 {
    height: 611px;
  }

  .a_easy_Booking_bg_3 {
    height: 611px;
  }

  .xl_py_3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .xl_px_4 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .xl_py_5 {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .xl_col_4 {
    width: 33.33% !important;
    padding-left: 12px;
    padding-right: 12px;
  }

  .a_position_mobile {
    top: 19%;
    right: 5%;
  }

  .a_bg_operation {
    height: 611px;
  }

  .a_bg_safety {
    height: 611px;
  }

  .a_bg_escapades {
    height: 611px;
  }

  .xl_a_max_w_481 {
    max-width: 481px;
  }

  .xl_col_7 {
    width: 58.88% !important;
    padding-left: 12px;
    padding-right: 12px;
  }

  .xl_col_5 {
    width: 41.66% !important;
    padding-left: 12px;
    padding-right: 12px;
  }

  .xl_my_5 {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .xl_a_max_w_550 {
    max-width: 550px;
  }

  .xl_min_h_590 {
    min-height: 590px;
  }

  .xl_col_3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .xl_col_4 {
    width: 33.33% !important;
  }

  .xl_p_3 {
    padding: 16px;
  }

  .xl_p_5 {
    padding: 48px !important;
  }

  .xl_ps_5 {
    padding-left: 48px;
  }

  /* rk css start  */
  .col_xl_4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .mx_xl_4 {
    margin-top: 24px;
  }
}

@media (min-width: 1440px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 14px;
    --fs_md: 15px;
    --fs_lg: 16px;
    --fs_xls: 20px;
    --fs_xl: 33px;
    --fs_xll: 24px;
    --fs_xxl: 42px;
    --fs_2xl: 68px;
    --fs_3xl: 64px;
  }

  .a_easy_Booking_bg_1 {
    height: 750px;
  }

  .a_easy_Booking_bg_2 {
    height: 750px;
  }

  .a_easy_Booking_bg_3 {
    height: 750px;
  }

  .col_2xl_4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .xxl_col_6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .xxl_col_5 {
    width: 43.66% !important;
  }

  .xxl_max_w_724 {
    max-width: 724px;
  }

  .xxl_px_5 {
    padding-left: 48px;
    padding-right: 48px;
  }

  .xxl_col_5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .px_4_special_case {
    padding-inline: 24px !important;
  }
}