@media (max-width: 576px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 12px;
    --fs_md: 15px;
    --fs_lg: 15px;
    --fs_xls: 18px;
    --fs_xll: 24px;
    --fs_xl: 27px;
    --fs_2xl: 41px;
  }
  .a_easy_Booking_bg_1 {
    height: 600px;
  }
  .a_easy_Booking_bg_2 {
    height: 600px;
  }
  .a_easy_Booking_bg_3 {
    height: 600px;
  }
  .a_bg_operation {
    height: 400px;
  }
  .a_bg_safety {
    height: 400px;
  }
  .a_bg_escapades {
    height: 400px;
  }
}
@media (min-width: 576px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 12px;
    --fs_md: 15px;
    --fs_lg: 15px;
    --fs_xls: 18px;

    --fs_xll: 24px;
    --fs_xl: 33px;
    --fs_2xl: 53px;
  }
  .a_easy_Booking_bg_1 {
    height: 700px;
  }
  .a_easy_Booking_bg_2 {
    height: 700px;
  }
  .a_easy_Booking_bg_3 {
    height: 700px;
  }
  .a_bg_operation {
    height: 500px;
  }
  .a_bg_safety {
    height: 500px;
  }
  .a_bg_escapades {
    height: 500px;
  }
  .a_sm_min_h_400 {
    min-height: 400px;
  }
  .sm_py_5 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (min-width: 768px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 12px;
    --fs_md: 15px;
    --fs_lg: 15px;
    --fs_xls: 14px;

    --fs_xll: 24px;
    --fs_xl: 33px;
    --fs_2xl: 68px;
  }
  .a_easy_Booking_bg_1 {
    height: 730px;
  }
  .a_easy_Booking_bg_2 {
    height: 730px;
  }
  .a_easy_Booking_bg_3 {
    height: 730px;
  }
  .md_col_4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .md_mt_0 {
    margin-top: 0;
  }
  .md_col_6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .md_ms_0 {
    margin-left: 0;
  }
  .md_ps_0 {
    padding-left: 0px !important;
  }
  .md_col_5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .md_m_0 {
    margin: 0;
  }
  .md_pe_0 {
    padding-right: 0px !important;
  }
  .md_me_0 {
    margin-right: 0px;
  }
  .md_flex_row {
    flex-direction: row;
  }
  .a_bg_operation {
    height: 425px;
  }
  .a_bg_safety {
    height: 425px;
  }
  .a_bg_escapades {
    height: 425px;
  }
}
@media (min-width: 992px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 12px;
    --fs_md: 15px;
    --fs_lg: 15px;
    --fs_xls: 18px;

    --fs_xll: 24px;
    --fs_xl: 33px;
    --fs_2xl: 68px;
  }
  .a_easy_Booking_bg_1 {
    height: 488px;
  }
  .a_easy_Booking_bg_2 {
    height: 488px;
  }
  .a_easy_Booking_bg_3 {
    height: 488px;
  }
  .a_bg_operation {
    height: 488px;
  }
  .a_bg_safety {
    height: 488px;
  }
  .a_bg_escapades {
    height: 488px;
  }
}
@media (min-width: 1200px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 12px;
    --fs_md: 15px;
    --fs_lg: 15px;
    --fs_xls: 18px;

    --fs_xll: 24px;
    --fs_xl: 33px;
    --fs_2xl: 68px;
  }
  .a_easy_Booking_bg_1 {
    height: 611px;
  }
  .a_easy_Booking_bg_2 {
    height: 611px;
  }
  .a_easy_Booking_bg_3 {
    height: 611px;
  }
  .xl_py_3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .xl_px_4 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .xl_py_5 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .a_bg_operation {
    height: 611px;
  }
  .a_bg_safety {
    height: 611px;
  }
  .a_bg_escapades {
    height: 611px;
  }
  .xl_a_max_w_481 {
    max-width: 481px;
  }
  .xl_col_5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .xl_my_5 {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1440px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 14px;
    --fs_md: 15px;
    --fs_lg: 16px;
    --fs_xls: 20px;
    --fs_xl: 33px;

    --fs_xll: 24px;
    --fs_2xl: 68px;
  }
  .a_easy_Booking_bg_1 {
    height: 750px;
  }
  .a_easy_Booking_bg_2 {
    height: 750px;
  }
  .a_easy_Booking_bg_3 {
    height: 750px;
  }
  .col_2xl_4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
  }
}
