@media (max-width: 576px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 14px;
    --fs_md: 15px;
    --fs_lg: 13px;
    --fs_xl: 25px;
    --fs_2xl: 40px;
  }
  .py_xsm_10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .border_xsm_bottom {
    border-bottom: 1px solid #0000001a;
    width: 100%;
  }
  .mt_xsm_24 {
    margin-top: 24px;
  }
  .w_xsm_100 {
    width: 100%;
  }
  .mt_xsm_10 {
    margin-top: 10px;
  }
  .mb_xsm_10 {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .menu_overlay.active {
    width: 100vw !important;
  }
}

@media (max-width: 992px) {
  .mb_lg_20 {
    margin-bottom: 20px;
  }
}
@media (min-width: 576px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 14px;
    --fs_md: 15px;
    --fs_lg: 16px;
    --fs_xl: 33px;
    --fs_2xl: 50px;
  }
  .py_sm_10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .col_sm_6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .mt_sm_0 {
    margin-top: 0;
  }
  .text_sm_start {
    text-align: start;
  }
  .align_sm_start {
    align-items: start;
  }
}
@media (min-width: 768px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 14px;
    --fs_md: 15px;
    --fs_lg: 13px;
    --fs_xl: 16px;
    --fs_2xl: 55px;
  }
  .padding_md_67 {
    padding: 67px;
  }
  .flex_md_row {
    flex-direction: row;
  }
  .col_md_3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col_md_6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col_md_12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .max_width_md_45 {
    max-width: 45ch;
  }
  .d_md_block {
    display: block;
  }
  .mb_md_5 {
    margin-bottom: 48px;
  }

  .mt_md_4 {
    margin-top: 24px;
  }
  .mb_md_4 {
    margin-bottom: 24px;
  }
  .innernav_md_item {
    position: fixed;
    height: 100vh;
    width: 25vw;
  }
  .navaircraft_md_item {
    position: fixed;
    height: 100vh;
    width: 25vw;
  }
  .navwhyamalficard_md_item {
    position: fixed;
    height: 100vh;
    width: 25vw;
  }
  .navmedia_md_item {
    position: fixed;
    height: 100vh;
    width: 25vw;
  }
  .image_md_set {
    aspect-ratio: 2.39;
  }
  .text_md_center {
    text-align: center;
  }
  .mb_md_32 {
    margin-bottom: 32px;
  }
}
@media (min-width: 992px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 14px;
    --fs_md: 15px;
    --fs_lg: 13px;
    --fs_xl: 20px;
    --fs_2xl: 45px;
  }
  .d_lg_none {
    display: none;
  }
  .col_lg_2 {
    width: 16.66%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col_lg_3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col_lg_4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col_lg_7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .flex_lg_row {
    flex-direction: row;
  }

  .d_lg_block {
    display: block;
  }
  .mx_lg_4 {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .py_18 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .d_lg_flex {
    display: flex;
  }
  .mt_lg_0 {
    margin-top: 0;
  }
  .justify_lg_start {
    justify-content: start;
  }
  .h_lg_100vh {
    height: 100vh;
  }
  .lg_menu_overlay.active {
    min-width: 20vw;
  }
  .innernav_item {
    left: calc(70vw - 50vw);
  }
  .navaircraft_item {
    left: calc(70vw - 50vw);
  }
  .navwhyamalficard_item {
    left: calc(70vw - 50vw);
  }
  .navmedia_item {
    left: calc(70vw - 50vw);
  }
}
@media (min-width: 1200px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 14px;
    --fs_md: 15px;
    --fs_lg: 16px;
    --fs_xl: 33px;
    --fs_2xl: 68px;
  }
}
