@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Figtree", serif;
  font-weight: 400;
}

.custom_container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.narror_container {
  max-width: 1257px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --fs_xsm: 12px;
  --fs_sm: 13px;
  --fs_base: 14px;
  --fs_md: 15px;
  --fs_lg: 16px;
  --fs_xls: 20px;
  --fs_xll:24px;
  --fs_xl: 33px;
  --fs_2xl: 68px;
}

/* font-size */
.fs_xsm {
  font-size: var(--fs_xsm);
}
.fs_sm {
  font-size: var(--fs_sm);
}
.fs_xll{
  font-size: var(--fs_xll);
}
.fs_base {
  font-size: var(--fs_base);
}
.fs_md {
  font-size: var(--fs_md);
}
.fs_lg {
  font-size: var(--fs_lg);
}
.fs_xls {
  font-size: var(--fs_xls);
}
.fs_xl {
  font-size: var(--fs_xl);
}
.fs_2xl {
  font-size: var(--fs_2xl);
}

/* font-weight */
.fw_normal {
  font-weight: 400;
}

.col_1 {
  width: 8.33%;
  padding-left: 12px;
  padding-right: 12px;
}

.col_2 {
  width: 16.66%;
  padding-left: 12px;
  padding-right: 12px;
}

.col_3 {
  width: 25%;
  padding-left: 12px;
  padding-right: 12px;
}

.col_4 {
  width: 33.33%;
  padding-left: 12px;
  padding-right: 12px;
}

.col_5 {
  width: 41.66%;
  padding-left: 12px;
  padding-right: 12px;
}

.col_6 {
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
}

.col_7 {
  width: 58.33%;
  padding-left: 12px;
  padding-right: 12px;
}

.col_8 {
  width: 66.66%;
  padding-left: 12px;
  padding-right: 12px;
}

.col_9 {
  width: 75%;
  padding-left: 12px;
  padding-right: 12px;
}

.col_10 {
  width: 83.33%;
  padding-left: 12px;
  padding-right: 12px;
}

.col_11 {
  width: 91.66%;
  padding-left: 12px;
  padding-right: 12px;
}

.col_12 {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

.row {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin-left: -12px;
  margin-right: -12px;
}
.gap_24 {
  gap: 24px;
}
.m-1 {
  margin: 4px;
}
.m-2 {
  margin: 8px;
}
.m-3 {
  margin: 16px;
}
.m-4 {
  margin: 24px;
}
.m-5 {
  margin: 48px;
}

.p-1 {
  padding: 4px;
}
.p-2 {
  padding: 8px;
}
.p-3 {
  padding: 16px;
}
.p-4 {
  padding: 24px;
}
.p-5 {
  padding: 48px;
}

.text_align_center {
  text-align: center;
}

.text_align_end {
  text-align: end;
}

.text_align_start {
  text-align: start;
}

.w_100 {
  width: 100%;
}
.h_100 {
  height: 100%;
}

.d_flex {
  display: flex;
}

.flex_column {
  flex-direction: column;
}

.flex_column_reverse {
  flex-direction: column-reverse;
}

.justify_space_between {
  justify-content: space-between;
}

.justify_content_evenly {
  justify-content: space-evenly;
}

.justify_space_around {
  justify-content: space-around;
}

.justify_content_center {
  justify-content: center;
}
.justify_content_end {
  justify-content: end;
}
.vh_100 {
  min-height: 100vh;
}

.align_center {
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.m_auto {
  margin: 0 auto;
}

.ms_1 {
  margin-left: 4px;
}

.ms_2 {
  margin-left: 8px;
}

.ms_3 {
  margin-left: 16px;
}

.ms_4 {
  margin-left: 24px;
}

.ms_5 {
  margin-left: 48px;
}

.me_1 {
  margin-right: 4px;
}

.me_2 {
  margin-right: 8px;
}

.me_3 {
  margin-right: 16px;
}

.me_4 {
  margin-right: 24px;
}

.me_5 {
  margin-right: 48px;
}

.mt_1 {
  margin-top: 4px;
}

.mt_2 {
  margin-top: 8px;
}

.mt_3 {
  margin-top: 16px;
}

.mt_4 {
  margin-top: 24px;
}

.mt_5 {
  margin-top: 48px;
}

.mb_1 {
  margin-bottom: 4px;
}

.mb_2 {
  margin-bottom: 8px;
}

.mb_3 {
  margin-bottom: 16px;
}

.mb_4 {
  margin-bottom: 24px;
}

.mb_5 {
  margin-bottom: 48px;
}

.ps_1 {
  padding-left: 4px;
}

.ps_2 {
  padding-left: 8px;
}

.ps_3 {
  padding-left: 16px;
}

.ps_4 {
  padding-left: 24px;
}

.ps_5 {
  padding-left: 48px;
}

.pe_1 {
  padding-right: 4px;
}

.pe_2 {
  padding-right: 8px;
}

.pe_3 {
  padding-right: 16px;
}

.pe_4 {
  padding-right: 24px;
}

.pe_5 {
  padding-right: 48px;
}

.pt_1 {
  padding-top: 4px;
}

.pt_2 {
  padding-top: 8px;
}

.pt_3 {
  padding-top: 16px;
}

.pt_4 {
  padding-top: 24px;
}

.pt_5 {
  padding-top: 48px;
}

.pb_1 {
  padding-bottom: 4px;
}

.pb_2 {
  padding-bottom: 8px;
}

.pb_3 {
  padding-bottom: 16px;
}

.pb_4 {
  padding-bottom: 24px;
}

.pb_5 {
  padding-bottom: 48px;
}
.py_5 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.py_2 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py_4{
  padding-top: 24px;
  padding-bottom: 24px;
}
.py_3 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.px_4 {
  padding-left: 24px;
  padding-right: 24px;
}
.px_3 {
  padding-left: 16px;
  padding-right: 16px;
}
.d_none {
  display: none;
}

.d_inline_block {
  display: inline-block;
}
.radius_20 {
  border-radius: 20px;
}

/* header image */

.letter_spacing_08 {
  letter-spacing: 0.8px;
}
.text_white {
  color: white;
}
.top_50 {
  top: 50%;
}
.left_50 {
  left: 50%;
}
.translate_50_50 {
  transform: translate(-50%, -50%);
}

.px_12 {
  padding-left: 12px;
  padding-right: 12px;
}
.py_18 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.text_uppercase {
  text-transform: uppercase;
}

.text_black {
  color: black;
}
.h_100vh {
  height: 100vh;
}
.object_fit {
  object-fit: cover;
}

.gap_40 {
  gap: 40px;
}
.h_50 {
  height: 50px;
}
.z_1 {
  z-index: 1;
}

.w_67 {
  width: 67px;
}
.h_67 {
  height: 67px;
}
.sticky {
  position: sticky;
}

.top_0 {
  top: 0;
}

.px_15 {
  padding-left: 15px;
  padding-right: 15px;
}

.py_10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding_67 {
  padding: 67px;
}

.text_gray {
  color: #0009;
}

.border_none {
  border-style: none;
}
.outline_none {
  outline: none;
}

.mt_32 {
  margin-top: 32px;
}
.gap_3 {
  gap: 16px;
}
.mb_32 {
  margin-bottom: 32px;
}

.mb_41 {
  margin-bottom: 41px;
}

.line_height_20 {
  line-height: 20px;
}

.line_height_25 {
  line-height: 25px;
}

.max_width_45ch {
  max-width: 45ch;
}

.gap_4 {
  gap: 4px;
}
.max_width_60ch {
  max-width: 60ch;
}
.letter_spacing2 {
  letter-spacing: 0.02em;
}

.letter_spacing3 {
  letter-spacing: 0.3px;
  line-height: 1.618;
}
.opacity_60 {
  opacity: 0.6;
}
.h_full {
  height: 100%;
}
.text_white {
  color: white;
}
.text_light_white {
  color: #f5f5f5;
}
.opacity {
  opacity: 0.75;
}
.brs_10 {
  border-radius: 10px;
}
.opacity_75 {
  opacity: 75%;
}
.opacity_90 {
  opacity: 90%;
}
.gap_10 {
  gap: 10px;
}
.bg_black {
  background-color: black;
}
.w_50 {
  width: 50%;
}
.start_0 {
  left: 0;
}
.ms_0 {
  margin-left: 0;
}
.ps_0 {
  padding-left: 0px;
}
.mx_auto {
  margin-left: auto;
  margin-right: auto;
}
/* ==============================  css for harish starts here ================================= */
.form_top_bar_main {
  border: 1px solid #0003;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.explore_btn {
  background-color: white;
  border-radius: 12px;
}

.form_icon {
  color: #88888d;
  width: 1.5rem;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.6rem;
}

.form_field {
  min-height: 3rem;
  max-height: none;
  padding-left: 2.5rem;
  font-size: 1rem;
  border-style: none;
  outline: none;
  color: black;
  border-color: #88888d;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.minus_btn {
  color: #88888d;
  height: 20px;
  width: 20px;
  border: 1px solid #88888d;
  padding: 5px 5px 8px;
  border-radius: 50px;
  line-height: 1.25rem;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.passenger_input {
  text-align: center;
  min-width: 30px;
  max-width: 30px;
  padding: 0;
  font-size: 1rem;
}
.search_btn {
  background-color: black;
  padding: 15px 20px;
  border-radius: 10px;
}

.flight_btn {
  background-color: black;
  letter-spacing: 1px;
  color: white;
  padding: 0.885em 1.272em;
  display: inline-block;
  border-radius: 16px;
}
.overline {
  letter-spacing: 0.128em;
  text-transform: uppercase;
  font-size: 0.786em;
  font-weight: 400;
  line-height: 1.272;
}

.bg_jetCard {
  background-image: url("../assets/png/jetcard.webp");
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  width: 100%;
  background-size: 100% 100%;
  object-fit: cover;
  background-color: #00000080;
}

.discover_btn {
  background-color: white;
  color: black;
  border-radius: 1.272em;
  letter-spacing: 1px;
  padding: 0.885em 1.272em;
  font-weight: 500;
  display: inline-block;
}

.flight_card {
  width: 340px;
  margin-right: 28.9px;
}

.flight_card_icon {
  height: 15px;
  width: 15px;
  color: white;
}

.flight_card_content {
  margin: 0px 16px 16px 16px;
  padding: 10px;
  grid-column-gap: 10px;
  border-radius: 10px;
  -webkit-backdrop-filter: saturate(133%) brightness(40%) blur(20px);
  backdrop-filter: saturate(133%) brightness(40%) blur(20px);
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
  overflow: hidden;
  box-shadow: 0 6px 20px #0003;
}

.book_flight_btn {
  background-color: black;
  color: white;
  border-radius: 10px;
  letter-spacing: 1px;
  padding: 0.885em 1.272em;
}

.bg_reserve_Card {
  background-image: url("./png/reserve card.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  object-fit: cover;
  background-color: black;
}
.h_265 {
  height: 265px;
  object-fit: cover;
  border-radius: 10px;
}
footer {
  background-color: #000;
  color: #fff;
}

.text_light_grey {
  color: #88888d;
}
.text_gray_darker {
  color: #f5f5f5;
  opacity: 80%;
}
.footer_input {
  background: transparent;
  outline: none;
  border: none;
  padding: 8px 12px;
  border: 1px solid #767777;
  width: 100%;
  border-radius: 10px;
}

.submit_btn {
  background-color: white;
  color: black;
  padding: 0.885em 1.272em;
  font-weight: 500;
  border: none;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}
.border_line {
  background-color: #c6c6c7;
  opacity: 0.2;
  height: 1px;
  margin-top: 2.618em;
  margin-bottom: 2.618em;
}

.bg_white {
  background-color: white;
}

.border_right {
  background-color: #767777;
  opacity: 0.5;
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 1px;
}

/* ==============================  css for harish end here ================================= */

/* ----------------------------------------css of amit starts here-------------------------- */
.whyAmalfi_bg {
  background-image: url(./image/png/whyamalfibg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.a_whyAmalfi_bg_operation{
  background-image: url(./image/png/bg_airoplane.avif);
  background-repeat: no-repeat;
  background-size: cover;
}
.a_whyAmalfi_bg_saftey {
  background-image: url(./image/png/safety_bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.a_max_w_640 {
  max-width: 640px;
}
.a_max_w_886 {
  max-width: 886px;
}
.a_max_with_461 {
  max-width: 461px;
}

.bg-scrim.gradient-bottom-up {
  background-color: #0003;
  background-image: linear-gradient(#0000, #000000c2 75%, #000);
}
.bg-scrim {
  z-index: 1;
  background-color: #00000080;
  position: absolute;
  inset: 0%;
}
.bg-scrim.gradient-bottom-up._1x1 {
  background-image: linear-gradient(#0000 25%, #000 79%);
}
.bg-scrim.gradient-bottom-up.faded {
  mix-blend-mode: normal;
  background-image: linear-gradient(#0000, #000000bf);
}
.z_2 {
  z-index: 2;
}
.a_easy_Booking_bg_1 {
  background-image: url(./image/png//easyBookingimage1.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 927px;
  width: 100%;
}
.a_easy_Booking_bg_2 {
  background-image: url(./image/png/easyBookingimage2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 927px;
  width: 100%;
}
.a_easy_Booking_bg_3 {
  background-image: url(./image/png//easyBookinimage\ 3.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 927px;
  width: 100%;
}
.a_bg_operation {
  background-image: url(./image/png/easyBookingimage2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 611px;
  width: 100%;
}
.a_bg_safety {
  background-image: url(./image/png/safety.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 611px;
  width: 100%;
}
.a_bg_escapades {
  background-image: url(./image/png/escapdes.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 611px;
  width: 100%;
}
.a_accordian_div{
  border: 1px solid #88888d;
  border-radius: 5px;
}
.a_test_gray{
  color: #0009;
}

.a_answer {
  max-height: 0; 
  margin-top: 0;
  overflow: hidden; 
  opacity: 0; 
  transition: max-height 0.4s ease-in-out, margin-top 0.4s ease-in-out, opacity 0.2s ease-in-out;} 

.a_accordian_div.a_active .a_answer {
  max-height: 500px; 
  margin-top: 16px; 
  opacity: 1; 
}

.a_question {
  cursor: pointer;
}



.a_arrow {
  transition: transform 0.4s ease-in-out;
}

.a_accordian_div.a_active .a_arrow {
  transform: rotate(180deg);
}
.a_hr_line_div {
  background-color: #c6c6c7;
  height: 1px;
  margin-top: 2.618em;
  margin-bottom: 2.618em;
}
.a_next_flight_bg{
  background-image: url(./image/png/nextflightbg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.a_bg_light_black{
  background-color: #1a1a1a;
}
.a_radius_10{
  border-radius: 10px;
}
.a_max_w_550{
  max-width: 550px;
}

/* ----------------------------css of amit end here------------------------- */
/* ------------responsive ----------------*/
@media (max-width: 576px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 12px;
    --fs_md: 15px;
    --fs_lg: 15px;
    --fs_xls: 18px;
    --fs_xl: 27px;
    --fs_2xl: 41px;
  }
  .a_easy_Booking_bg_1 {
    height: 600px;
  }
  .a_easy_Booking_bg_2 {
    height: 600px;
  }
  .a_easy_Booking_bg_3 {
    height: 600px;
  }
  .a_bg_operation {
    height: 400px;
  }
  .a_bg_safety {
    height: 400px;
  }
  .a_bg_escapades {
    height: 400px;
  }
}
@media (min-width: 576px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 12px;
    --fs_md: 15px;
    --fs_lg: 15px;
    --fs_xls: 18px;
    --fs_xl: 33px;
    --fs_2xl: 53px;
  }
  .a_easy_Booking_bg_1 {
    height: 700px;
  }
  .a_easy_Booking_bg_2 {
    height: 700px;
  }
  .a_easy_Booking_bg_3 {
    height: 700px;
  }
  .a_bg_operation {
    height: 500px;
  }
  .a_bg_safety {
    height: 500px;
  }
  .a_bg_escapades {
    height: 500px;
  }
}
@media (min-width: 768px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 12px;
    --fs_md: 15px;
    --fs_lg: 15px;
    --fs_xls: 14px;
    --fs_xl: 33px;
    --fs_2xl: 68px;
  }
  .a_easy_Booking_bg_1 {
    height: 730px;
  }
  .a_easy_Booking_bg_2 {
    height: 730px;
  }
  .a_easy_Booking_bg_3 {
    height: 730px;
  }
  .md_col_4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .md_mt_0 {
    margin-top: 0;
  }
  .md_col_6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .md_ms_0 {
    margin-left: 0;
  }
  .md_ps_0 {
    padding-left: 0px !important;
  }
  .md_col_5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .md_m_0 {
    margin: 0;
  }
  .md_pe_0 {
    padding-right: 0px !important;
  }
  .md_me_0 {
    margin-right: 0px;
  }
  .md_flex_row {
    flex-direction: row;
  }
  .a_bg_operation {
    height: 425px;
  }
  .a_bg_safety {
    height: 425px;
  }
  .a_bg_escapades {
    height: 425px;
  }
}
@media (min-width: 992px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 12px;
    --fs_md: 15px;
    --fs_lg: 15px;
    --fs_xls: 18px;
    --fs_xl: 33px;
    --fs_2xl: 68px;
  }
  .a_easy_Booking_bg_1 {
    height: 488px;
  }
  .a_easy_Booking_bg_2 {
    height: 488px;
  }
  .a_easy_Booking_bg_3 {
    height: 488px;
  }
  .a_bg_operation {
    height: 488px;
  }
  .a_bg_safety {
    height: 488px;
  }
  .a_bg_escapades {
    height: 488px;
  }
}
@media (min-width: 1200px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 12px;
    --fs_md: 15px;
    --fs_lg: 15px;
    --fs_xls: 18px;
    --fs_xl: 33px;
    --fs_2xl: 68px;
  }
  .a_easy_Booking_bg_1 {
    height: 611px;
  }
  .a_easy_Booking_bg_2 {
    height: 611px;
  }
  .a_easy_Booking_bg_3 {
    height: 611px;
  }
  .xl_py_3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .xl_px_4 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .xl_py_5 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .a_bg_operation {
    height: 611px;
  }
  .a_bg_safety {
    height: 611px;
  }
  .a_bg_escapades {
    height: 611px;
  }
  .xl_a_max_w_481 {
    max-width: 481px;
  }
  .xl_col_5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1440px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 14px;
    --fs_md: 15px;
    --fs_lg: 16px;
    --fs_xls: 20px;
    --fs_xl: 33px;
    --fs_2xl: 68px;
  }
  .a_easy_Booking_bg_1 {
    height: 750px;
  }
  .a_easy_Booking_bg_2 {
    height: 750px;
  }
  .a_easy_Booking_bg_3 {
    height: 750px;
  }
  .col_2xl_4{
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
  }
}
